@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 950px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: #00214A;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
  font-size: 36px;
  color: #ea25b5;
}

.wrapper .left p{
  font-size: 24px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .cta{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .cta h3{
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .cta_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .cta_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .cta_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
    font-size: 20px;
}

.wrapper .right .info_data .data p,
.wrapper .right .cta_data .data p{
  font-size: 16px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .cta_btns ul{
  display: flex;
}

.wrapper .cta_btns ul li
{
  width: 90px;
  height: 45px;
  background: #00214A;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .cta_btns ul li:hover
{
    background: #ea25b5;
}

.wrapper .cta_btns ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

.nav
{
    margin-top: 40px;
}

.nav li
{
    padding: 10px;
}

.nav li a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
button
{
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  border: none;
}

.nav li a:hover
{
    color: #ea25b5;
}

input
{
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  color: #919aa3;
  border-bottom: solid #eeeeee 1px;
}

input:focus
{
  outline: none;
}